<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dop.indiapost.darpan_mine/CBS">
    <!-- package="dop.indiapost.darpan_mine/CBS">  -->


    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
